.footer
  .social.row-fluid
    .span4.offset1.slogan
      %span Twilater
    .span1.offset4
      = link_to (image_tag "twitter-button.png"), "https://twitter.com/twilater"
    .span1
      = link_to (image_tag "facebook-button.png"), "https://www.facebook.com/twilater"
  %ul.nav.nav-pills
    %li 
      = link_to 'Preguntas frecuentes'
    %li 
      = link_to 'Términos y condiciones'
    %li 
      = link_to 'Nosotros'
    %li 
      = link_to 'Contacto'
    %li 
      = link_to 'Blog'

